<ol class="post-list">
{{!-- The use of the each helper will repeat the html code inbetween for every item in the object posts --}}
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        {{title}}
      </div>
      <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>